

.center{
    width: 30%;
    display: flex;
    margin: auto;
    padding-top: 40vh;
  }
  .human360{
    width: 6%;
    position: absolute;
    z-index: 1;
}
.officeouttext{
    margin: 1% 0 0 7%;
    width: 21%;
    height: 13%;
    animation-delay: 0.6s;
    position: absolute;
    z-index: 1;
}
.firetext{
    margin: 1% 0 0 7%;
    width: 25%;
    height: 13%;
    animation-delay: 0.6s;
    position: absolute;
    z-index: 1;
}

.none{
    display: none;
}
