body{
    font-family: 'Kanit', sans-serif;
}

.bgchoose{
    background-image: url("../picture2/choosebg.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}

.boxboxchoose{
    /* background-color:black; */
    width: 40%;
    height: 75vh;
    position: absolute;
    right: 8%;
    margin-top: 5%;
}

.textchoose{
    font-size: 2vw;
    text-align: center;
    color: white;
}

/* 
.boxx1{
    background-color: rgb(197, 197, 197);
    margin: auto;
    width: 92%;
    height: 30%;
    border-radius: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3vw;
}
.boxx1:hover{
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.589);
    font-size:1.4vw;
}

.boxx2{
    font-size:1.3vw;
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 20vh;
    border-radius: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxx2:hover{
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.589);
    font-size:1.4vw;
}

.boxx3{
    font-size:1.3vw;
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 20vh;
    border-radius: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxx3:hover{
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.589);
    font-size:1.4vw;
} */

.col-sm{
    padding-left: 2%;
    padding-right: 2%;
}
.col{
    padding-left: 5.5%;
    padding-right: 5.5%;
}

.logout1{
    position: absolute;
    top: 10px;
    color: rgb(177, 177, 177) !important;
    border-color: rgb(177, 177, 177) !important;
    height: 40px !important;
}.logout1:hover{
    color: white !important;
    border-color: white !important;
}


.b1{
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 47vh;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3vw;
    margin:auto;
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
}.b1:hover{
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.589);
    font-size:1.4vw;
}

.b2{
    font-size:1.3vw;
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.b2:hover{
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.589);
    font-size:1.4vw;
}

.bb1{
    background-image: url("../picture2/c1.png");
}
.bb2{
    background-image: url("../picture2/c2.png");
}
.bb3{
    background-image: url("../picture2/c3.png");
}
.bb4{
    background-image: url("../picture2/c4.png");
}
.bb5{
    background-image: url("../picture2/c5.png");
}
.bb6{
    background-image: url("../picture2/c6.png");
}

.c{
    width: 30%;
    padding-bottom: 5%;
}





@media only screen and (max-width: 812px) {
    .logout1{
        height: 30px !important;
        font-size: 10px !important;
        padding-left: 8px !important;
    }
    .log{
        display: none !important;
    }
    }