.line{
    display: inline;
    padding-left: 10px;
}

.btn-link{
    color:#000;
}
.btn-link:hover{
    cursor: pointer;
    color: black;
}

.font{
    font-family: 'Kanit', sans-serif;
    background-color: white;
}

.fonteng{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

.box1{
    width: auto;
    box-shadow: 1px 2px 8px #e2e2e2;
    border-width: 0.5px;
}

.btn-outline-info{
    border-radius: 10px 10px 10px 10px;
    width: 120px;
    margin: 40px 0 60px 0;
}

.accordion{
    margin-top: 30px;
}

.coverexam{
    background-image: url("../picture/exambg.png");
    background-size: cover;
    display: flex;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card-header{
    border-bottom: 0px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.card-body{
    padding-left: 6rem;
}

.sizef{
    font-size: 16px;
}


.coverlogo{
    width: 27%;
    margin: 13% 0 0 55%;
}

.aa{
    color: rgb(46, 46, 46);
}




/* ipad */
@media only screen and (max-width: 728px) {
.sizef{
    font-size: 13px;
}
.card-header{
    padding-left: 0;
}
.card-body{
    padding-left: 1px;
}
}

@media only screen and (max-width: 768px) {
    .coverexam{
        background-image: url("../picture/exambgIpad.png");
    }
    .coverlogo{
        width: 45%;
        margin: 105% 0 0 15%;
    }
    }
    

/* mobile */
@media only screen and (max-width: 414px) {
    .sizef{
        font-size: 13px;
    }
    .card-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .card-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .coverexam{
        background-image: url("../picture/exambgMobile.png");
    }
    .coverlogo{
        width: 60%;
        margin: 130% 0 0 18%;
    }   
}




/* 
style={{backgroundImage:"url(./picture/Exambanner.jpg)"}} 
style={{color:"white"}} 
*/
