.line{
    display: inline;
    padding-left: 0px;
}

.btn-link{
    color:#000;
}
.btn-link:hover{
    cursor: pointer;
    color: black;
}

.font{
    font-family: 'Kanit', sans-serif;
}

.fonteng{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

.box1{
    width: auto;
    box-shadow: 1px 2px 8px #e2e2e2;
    border-width: 0.5px;
}

.btn-outline-info{
    border-radius: 10px 10px 10px 10px;
    width: 120px;
    margin: 40px 0 60px 0;
}

.accordion{
    margin-top: 30px;
}

.coverexam{
    background-image: url("../picture/exambg.png");
    display: flex;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-header{
    border-bottom: 0px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.card-body{
    padding-top: 90px;
    margin: auto;
    width: 70%;
    line-height: 40px;
}


.sizef{
    font-size: 19px;
    text-align: center;
    transform: translate(0,130%);
    margin: 0 50px 0 20px;
}


.coverlogo{
    width: 27%;
    margin: 13% 0 0 55%;
}

.aa{
    color: rgb(46, 46, 46);
}


.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #e9a410;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }




/* 
style={{backgroundImage:"url(./picture/Exambanner.jpg)"}} 
style={{color:"white"}} 
*/

.detailexam{
    background-image: url("../picture/detailexam.png");
    background-size: cover;
    height: 100vh;
}

.typeexambox{
    height: 70vh;
    width: 70%;
    margin: auto;
    transform: translate(0,5%);
}

.answer{
    height: 75vh;
    width: 50%;
    margin: auto;
    transform: translate(0,5%);
    background-color: white;
}

.typeexam{
    background-size: cover;
    box-shadow: 2px 3px 10px #b19191;
    background-color: white;
    border-radius: 1%;
    height: 75vh;
    width: 100%;
    /* display: flex; */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;    
    opacity: 0.95;
}

.sentans{
    position: absolute;
    right: 20px;
    bottom: 90px;
}

.btn-outline-danger{
    padding: 5px 20px 5px 20px;
}

.textanswer{
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    /* transform: translate(0,30%); */
}

.boxanswer{
    font-size: 15px;
    border: 0.5px solid rgb(97, 97, 97);
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 5px;
}

.d{
    display: none;
}










    
/* ipad */
    @media only screen and (max-width: 768px) {
        .coverexam{
            background-image: url("../picture/exambgIpad.png");
        }
        .coverlogo{
            width: 40%;
            margin: 100% 0 0 15%;
        }
        .answer{
            width: 70%;
        }
        .sentans{
            bottom: 180px;
        }
    
        .sizef{
            text-align: center;
            transform: translate(0,100%);
            margin: 0 40px 0 40px;
        }
        .card-body{
            margin: 90px 0 0 60px;
            padding: 0;
            line-height: 30px;
            width: 80%;
        }
        .line{
            padding-left: 0px;
            margin-left: 5px;
        }
        }
        


/* mobile plus */
    @media only screen and (max-width: 728px) {
    .sizef{
        font-size: 13px;
    }
    .card-header{
        padding-left: 0;
    }
    .card-body{
        padding-left: 1px;
    }

    .typeexambox{
        height: 90vh;
        width: 90%;
        transform: translate(0,10%);
    }
    .sizef{
        font-size: 15px;
        text-align: center;
        transform: translate(0,70%);
        margin: 0 20px 0 20px;
    }
    .card-body{
        margin: 50px 0 0 40px;
        padding: 0;
        line-height: 30px;
        width: 80%;
    }
    .line{
        padding-left: 0px;
        margin-left: 5px;
    }
    .btn-outline-danger{
        padding: 3px 20px 3px 20px;
    }
    .sentans{
        bottom: 130px;
    }

    .textanswer{
        font-size: 20px;
    }
    .answer{
        width: 90%;
    }

    .coverlogo{
        width: 60%;
        margin: 130% 0 0 13%;
    }  
    .d{
        display: none !important;
    }
    }
    


    
 /* mobile */
 @media only screen and (max-width: 414px) {
    .sizef{
        font-size: 13px;
    }
    .card-header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .card-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .coverexam{
        background-image: url("../picture/exambgMobile.png");
    }
    .coverlogo{
        width: 60%;
        margin: 125% 0 0 18%;
    }   

    .textanswer{
        font-size: 20px;
    }
    .answer{
        width: 90%;
    }

    .typeexambox{
        height: 90vh;
        width: 90%;
        transform: translate(0,10%);
    }
    .sizef{
        font-size: 15px;
        text-align: center;
        transform: translate(0,70%);
        margin: 0 20px 0 20px;
    }
    .card-body{
        margin: 60px 0 0 40px;
        padding: 0;
        line-height: 30px;
        width: 75%;
    }
    .line{
        padding-left: 0px;
        margin-left: 5px;
    }
    .btn-outline-danger{
        padding: 3px 20px 3px 20px;
    }
    .sentans{
        bottom: 115px;
    }
    .d{
        display: none !important;
    }
}

    
    