@import "~video-react/dist/video-react.css";

.janghad{
    background-image: url("../picture/Infographic/janghad.png");
}
.firetype{
    background-image: url("../picture/Infographic/firetype.png");
}
.rarabhad{
    background-image: url("../picture/Infographic/rarabhad.png");
}
.firetung{
    background-image: url("../picture/Infographic/firetung.png");
}
.walkinfo{
    background-image: url("../picture/Infographic/walk.png");
}
.smoke{
    background-image: url("../picture/Infographic/smoke.png");
}
.heat{
    background-image: url("../picture/Infographic/heat.png");
}
.escape{
    background-image: url("../picture/Infographic/escape.png");
}
.usetung{
    background-image: url("../picture/Infographic/usetung.png");
}


.bgjanghad{
    background-image: url("../picture/bgjang.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgescape{
    background-image: url("../picture/finalend.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgwalkinfo{
    background-image: url("../picture/bgwalk.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgwalk360{
    background-image: url("../picture/bgwalk360.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgsmoke{
    background-image: url("../picture/bgsmoke.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgheat{
    background-image: url("../picture/bgheat.png");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgfiretype{
    background-image: url("../picture/bg.jpg");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}
.bgrarabhad{
    background-image: url("../picture/bgrarabhad.jpg");
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
}



.buttonhowto{
    color: rgba(167, 167, 167, 0.774);
    border-color: rgba(167, 167, 167, 0.774);
    position: absolute;
    right: 30px;
    top:20px;
    font-family: 'Kanit';
}
.buttonhowto:hover{
    color: white;
    border-color: white;
}




.typeinfo{
    background-size: cover;
    box-shadow: 2px 3px 10px rgb(128, 95, 190);
    border-radius: 1%;
    height: 90%;
    width: 100%;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
}

.closea{
    position: absolute;
    right: 20px;
    top:13px;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.781);
    cursor: pointer;
    transform: rotate(0deg);
    margin-top: -height/2;
    margin-left: -width/2;
    transition: all 0.3s ease-out;
}
.closea:hover{
    transform: rotate(-90deg);
    margin-top: -height/2;
    margin-left: -width/2;
    transition: all 0.3s ease-out;
}


.bgtypeinfo{
    height: 100vh;
    width: 80%;
    margin: auto;
    transform: translate(0,5%);
}


.video{
    height: 500px;
}



.bgtoilet{
    background-image: url("../picture2/toilet/toilet.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.bgdeck{
    background-image: url("../picture2/deck/deck.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.bglift{
    background-image: url("../picture2/lift/lift.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.choosebutton{
    width: 4%;
    display: flex;
    margin: auto;
}
.choosebutton:hover{
    cursor: pointer;
    width: 4.5%;
}

.boxchoose{
    padding-top: 60vh;
}


.pop{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 1024px) {
    .closea{
        right: 10px;
        font-size: 15px;
    }
    .bgtypeinfo{
        width: 90%;
    }
}

@media only screen and (max-width: 414px) {
    .closea{
        right: 10px;
        font-size: 15px;
    }
    .bgtypeinfo{
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .closea{
        right: 10px;
        font-size: 15px;
    }
    .bgtypeinfo{
        width: 90%;
    }
}