body{
    font-family: 'Kanit';
}
.bgcall{
    background-image: url("../picture2/bgcall.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    background-position: center;
}
.bgfriend{
    background-image: url("../picture2/bgfriend.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    background-position: center;
}
.bgalarm{
    background-image: url("../picture2/bgalarm.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    background-position: center;
}

.boxjang{
    background-color:white;
    width: 30%;
    height: 55%;
    margin-top: 10%;
    border-radius: 5%;
}

.boxjangtext{
    width: 88%;
    margin: auto;
    margin-top: 10%;
    /* font-size: 1.3rem; */
}
.buttonjang{
    width: 100%;
    margin-top: 5%;
    font-size: 1.1vw;
}

.texthead{
    font-size: 1.2vw;
}



.bgfire11{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.boxfireoffice{
    position: absolute;
    right: 13%;
}
.boxfire{
    background-color:rgba(255, 255, 255, 0.904);
    width: 29%;
    height: 25%;
    margin: auto;
    margin-top: 10%;
    border-radius: 1%;
    position: absolute;
    right: 13%;
}
.buttonchoice{
    width: 100%;
}

.v{
    width: 100%;
    position: relative;
}
.bghhv{
    height:100vh;
    z-index: 1;
    position: absolute;
}
.bgtext{
    position: absolute;
    height:100vh;
    z-index: 2;
    width: 100%;
}
.video-react{
    position: absolute;
}


@media only screen and (max-width: 1024px) {
    .boxjang{
        width: 40%;
        height: 70vh;
    
    }
    .texthead{
        font-size: 2vw;
    }
    .buttonjang{
        width: 100%;
        margin-top: 3%;
        font-size: 1.5vw;
    }


}
    