
/* box */
.bgmock{
    background-color: white;
    background-size: cover;
}

.bgtypemock{
    height: 15vh;
    width: 15%;
    right: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 1;
}

.mock{
    /* box-shadow: 2px 3px 10px rgb(24, 20, 32); */
    border-radius: 3%;
    height: 15vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(19, 19, 19, 0.308);
}
/* end box */


.name{
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    color: white;
    display: inline;
    margin: 5px 0 0 5px;
}


/* info setting */
.setting{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    bottom: 16px;
    right: 80px;
}
.setting:hover{
    color: #ffffff;
}



.star{
  font-size: 1.2rem;
  margin: 15px 5px 0 15px;
}

.score{
  margin: 50px 0 0 5px;
  font-size: 1.2rem;
  color: white;
  display: inline;
  font-family: 'Kanit', sans-serif;
}







/* sound setting */
.bar-c {
    overflow: hidden;
    height: 30px;
    width: 40px;
    bottom: 20px;
    right:  20px;
    position: absolute;
    cursor:pointer;
    z-index: 1;
  }

  .bar {
    height: 1px;
    width: 3px;
    display: inline-block;
    background-color: #ffffd2;
    bottom: 0;
    position: absolute;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  .noAnim {
    -webkit-animation: none;
    -webkit-animation-name: none;
  }

#bar-1{
    left: 0; 
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
}
#bar-2 { 
    left: 6px; 
    -webkit-animation-name: danceHeight2; 
    -webkit-animation-delay: 300ms;
  }
  #bar-3 { 
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
  }
  #bar-4 { 
    left: 18px;
    -webkit-animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
  }
  #bar-5 { 
    left: 24px;
    -webkit-animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
  }
  #bar-6 { 
    left: 30px;
    -webkit-animation-name: danceHeight6;
    -webkit-animation-delay: 1500ms;
  }
  @-webkit-keyframes danceHeight1 {
    from { height: 1px; }
    to { height: 22px; }
  }
  @-webkit-keyframes danceHeight2 {
    from { height: 1px; }
    to { height: 15px; }
  }
  @-webkit-keyframes danceHeight3 {
    from { height: 1px; }
    to { height: 30px; }
  }
  @-webkit-keyframes danceHeight4 {
    from { height: 1px; }
    to { height: 20px; }
  }
  @-webkit-keyframes danceHeight5 {
    from { height: 1px; }
    to { height: 15px; }
  }
  @-webkit-keyframes danceHeight6 {
    from { height: 1px; }
    to { height: 15px; }
  }
  /* sound setting end */



  
/* time */
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fdfdfd;
  text-shadow: 0 0.25rem 0.375rem hsla(0, 0%, 0%, 0.2);
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  width: 5rem;
  background: #2b2b2bbe;
  box-shadow: 0 0.25rem 0.375rem 0 hsla(0, 0%, 0%, 0.4);
  text-align: center;
}

.start {
  grid-area: start;
}

label {
  cursor: pointer;
}

.timer {
  justify-content: center;
  align-items: center;
  grid-area: timer;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  box-shadow: 0 0.25rem 0.375rem 0 hsla(0, 0%, 0%, 0.4);
  color:white;
  display: flexd;
  margin-left: 0px;
}

.clock{
  font-size: 1 rem;
  padding-bottom: 3px;
}

  





